*{
    margin: 0;
    padding: 0;
}

html{
	scroll-behavior: smooth;
}

#container{
	background: url("https://raw.githubusercontent.com/Taisir-Majumder/Webpage-Design-Projects/main/download.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 670px;
	position: relative;
}

#full-navbar{
	position: sticky;
	width: 100%;
	height: 100px;
}

#main-logo{
	position: absolute;
	top: 20px;
	left: 30px;
    width: 230px;
    height: 70px;
}

#main-logo:hover{
	cursor: pointer;
}

#navbar-links{
	position: relative;
	text-align: right;
}

#navbar-links ul li{
    list-style: none;
    margin: 40px 20px;
    display: inline-block;
    font-size: 20px;
}

#navbar-links ul li a{
	text-decoration: none;
    color: white;
    transition: .4s;
}

#navbar-links ul li a:hover{
	position: sticky;
	color: black;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
}

#middle-content{
	position: relative;
}

#mobile-logo{
	width: 200px;
	height: 400px;
	position: absolute;
	top: 90px;
    left: 900px;
}

#texts{
	position: relative;
	top: 200px;
	left: 300px;
}

#texts h1{
	position: absolute;
	font-size: 25px;
	color: #48C9B0;
    font-family: 'Montserrat', sans-serif;
}

#texts h3{
	position: absolute;
	top: 80px;
	font-size: 20px;
	color: white;
	font-family: 'Baloo Tammudu 2', cursive;
}

#features{
	position: relative;
	top: 500px;
	display: flex;
	justify-content: center;
    align-items: center;
    background: #b92b27; 
    background: -webkit-linear-gradient(to right, #b92b27, #1565c0); 
    background: linear-gradient(to right, #b92b27, #1565c0);
    padding-bottom: 500px;
}

#features h1{
    margin-top: 70px;
    font-family: 'Verdana', sans-serif;
}

#features h3{
	position: absolute;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
}

#txt1{
	top: 340px;
	left: 870px;
    transform: rotate(90deg);
    color: salmon;
}

#txt2{
	top: 360px;
	left: 700px;
    transform: rotate(90deg);
    color: purple;
}

#txt3{
	top: 410px;
	left: 500px;
    transform: rotate(90deg);
    color: yellowgreen;
} 

#txt4{
	top: 380px;
	left: 380px;
	transform: rotate(90deg);
	color: indigo;
}

#features img{
    width: 70px;
    top: 200px;
    border-radius: 20px;
}

#img1{
    position: absolute;
    background-color: black;
    right: 530px;
    z-index: 1;
}

#img2{
	position: absolute;
	background-color: black;
    z-index: 2;
    right: 380px;
}

#img3{
	position: absolute;
	background-color: black;
	z-index: 3;
	left: 600px;
}

#img4{
	position: absolute;
	background-color: black;
	z-index: 4;
	left: 450px;
}

#pricing{
	position: relative;
	background: #dd3e54; 
    background: -webkit-linear-gradient(to right, #dd3e54, #6be585); 
    background: linear-gradient(to right, #dd3e54, #6be585);
    background-size: cover;
    top: 500px;
    bottom: 800px;
	display: flex;
	height: 500px;
}

#main-h1{
    margin-top: 40px;
    margin-left: 600px;
    margin-bottom: 600px;
    font-family: 'Verdana', sans-serif;
}

#first-sec{
	position: absolute;
	top: 150px;
	left: 70px;
}

#first-sec h1{
	position: absolute;
	left: 115px;
	font-size: 30px;
	font-weight: normal;
	font-family: 'Verdana', sans-serif;
}

#first-sec h2{
	position: absolute;
	top: 60px;
	left: 127px;
	font-size: 20px;
	font-weight: normal;
	font-family: 'roboto', sans-serif;
}

#first-sec h3{
	position: absolute;
	top: 100px;
	left: 30px;
	font-size: 13px;
	font-family: 'Tahoma', sans-serif;
	width: 400px;
}

#price-btn1{
	position: absolute;
	top: 150px;
	left: 60px;
	border: none;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: #F5B041;
    color: #2471A3;
    font-size: 15px;
    transition: .4s;
    width: 200px;
}

#price-btn1:hover{
    background-color: white;
    transform: scale(1.2);
    cursor: pointer;
    color: black;
}

#second-sec{
	position: absolute;
	top: 150px;
	left: 70px;
}

#second-sec h1{
	position: absolute;
	left: 550px;
	font-size: 30px;
	font-weight: normal;
	font-family: 'Verdana', sans-serif;
}

#second-sec h2{
	position: absolute;
	top: 60px;
	left: 545px;
	font-size: 20px;
	font-weight: normal;
	font-family: 'roboto', sans-serif;
}

#second-sec h3{
	position: absolute;
	top: 100px;
	left: 430px;
	font-size: 12px;
	font-family: 'Tahoma', sans-serif;
	width: 400px;
}

#price-btn2{
    position: absolute;
	top: 150px;
	left: 485px;
	border: none;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: #F5B041;
    color: #2471A3;
    font-size: 15px;
    transition: .4s;
    width: 200px;
}

#price-btn2:hover{
    background-color: white;
    transform: scale(1.2);
    cursor: pointer;
    color: black;
}

#third-sec{
	position: absolute;
	top: 150px;
	left: 70px;
}

#third-sec h1{
	position: absolute;
	left: 1000px;
	font-size: 30px;
	font-weight: normal;
	font-family: 'Verdana', sans-serif;
}

#third-sec h2{
	position: absolute;
	top: 60px;
	left: 990px;
	font-size: 20px;
	font-weight: normal;
	font-family: 'roboto', sans-serif;
}

#third-sec h3{
	position: absolute;
	top: 100px;
	left: 875px;
	font-size: 12px;
	font-family: 'Tahoma', sans-serif;
	width: 400px;
}

#price-btn3{
    position: absolute;
	top: 150px;
	left: 920px;
	border: none;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: #F5B041;
    color: #2471A3;
    font-size: 15px;
    transition: .4s;
    width: 200px;
}

#price-btn3:hover{
    background-color: white;
    transform: scale(1.2);
    cursor: pointer;
    color: black;
}

#about{
    position: relative;
    top: 500px;
    bottom: 800px;
    background: #005AA7;  
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  
    background: linear-gradient(to right, #FFFDE4, #005AA7); 
    background-size: cover;
	display: flex;
	height: 480px;
}

#about h1{
	position: absolute;
	margin-top: 530px;
	margin-left: 580px;
	bottom: 420px;
	font-family: 'Verdana', sans-serif;
}

#icons h3{
	position: absolute;
}

#one{
	top: 130px;
	left: 20px;
	font-weight: normal;
	font-family: 'Tahoma', sans-serif;
}

#two{
	top: 130px;
	left: 550px;
	font-weight: normal;
	font-family: 'Tahoma', sans-serif;
}

#three{
	top: 130px;
	left: 850px;
	font-weight: normal;
	font-family: 'Tahoma', sans-serif;
}

#about i{
    position: absolute;
    top: 120px;
}

#icon1{
	font-size: 50px;
	margin-top: 50px;
    left: 200px;
}

#icon2{
	font-size: 50px;
	margin-top: 50px;
    left: 635px;
}

#icon3{
	font-size: 50px;
	margin-top: 50px;
    left: 980px;
}

#contact{
	position: relative;
	background: #40E0D0; 
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); 
    background-size: cover;
    top: 500px;
    height: 600px;
}

#contact h1{
	position: absolute;
	top: 25px;
	left: 570px;
	font-size: 30px;
	font-family: 'Verdana', sans-serif;
}

#contact h3{
	position: absolute;
	top: 75px;
	left: 555px;
	font-size: ;
	font-family: 'Tahoma', sans-serif;
}

#cont-forms{
	position: relative;
	top: 200px;
	left: 50px;
}

label{
	position: absolute;
	font-style: italic;
	font-weight: bold;
    font-size: 18px;
}

#lbl2{
   top: 90px;
}

#lbl3{
   top: 180px;
}

input{
	position: absolute;
}

#cont-forms #one{
    top: 30px;
    left: 3px;
    width: 600px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
}

#cont-forms #two{
	top: 116px;
	left: 3px;
	width: 600px;
	height: 30px;
	border: 1px black solid;
    border-radius: 5px;
}

#cont-forms #three{
	top: 207px;
	left: 3px;
	width: 600px;
	height: 30px;
	border: 1px black solid;
    border-radius: 5px;
}

#cont-forms #submit{
	top: 280px;
	left: 235px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 15px;
	transition: .4s;
}

#cont-forms #submit:hover{
	cursor: pointer;
	background-color: salmon;
	transform: scale(1.1);
}








































































